<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">

    <item android:id="@+id/group_1" android:title="@string/administration" android:visible="false">
        <menu>
            <group android:checkableBehavior="single">
                <item
                    android:id="@+id/navigation_operator"
                    android:icon="@drawable/ic_settings_black_24dp"
                    android:visible="false"
                    android:title="@string/operator_panel" />
                <item
                    android:id="@+id/navigation_admin"
                    android:icon="@drawable/ic_build_black_24dp"
                    android:visible="false"
                    android:title="@string/admin_panel" />
            </group>
        </menu>
    </item>

    <item android:id="@+id/group_2" android:title="Menu">
        <menu>
            <group android:checkableBehavior="single">
                <item
                    android:id="@+id/navigation_statistics"
                    android:icon="@drawable/ic_timeline_black_24dp"
                    android:title="@string/statistics" />
                <item
                    android:id="@+id/navigation_maps"
                    android:icon="@drawable/ic_map_black_24dp"
                    android:title="@string/map" />
                <item
                    android:id="@+id/navigation_agreements"
                    android:icon="@drawable/ic_folder_shared_black_24dp"
                    android:title="@string/agreements" />
                <item
                    android:id="@+id/navigation_logout"
                    android:icon="@drawable/ic_exit_to_app_black_24dp"
                    android:title="@string/logout" />
            </group>
        </menu>
    </item>
</menu>